<ng-container *ngFor="let pz of prize_list">
    <div class="box">
      <div class="ligne">
          <figure class="image is-32x32 noshow" style="margin: 0.15em;">
            <img *ngIf="pz.title==='CHAMPIONSHIP_WINNER'" src="assets/default/winner.png">
            <img *ngIf="pz.title==='CHAMPIONSHIP_RUNNERUP'"  src="assets/default/second.png">
            <img *ngIf="pz.title==='CHAMPIONSHIP_3RD'"  src="assets/default/third.png">
            <img
              *ngIf="pz.title==='BEST_ASSIST' || pz.title==='BEST_PLAYER' || pz.title==='BEST_SCORER' || pz.title==='BEST_GOALIE'"
              class="prize_img"
              src="assets/default/trophy_color.png">
      </figure>
      <figure class="image is-16x16 mobile" style="margin: 0.15em;">
        <img *ngIf="pz.title==='CHAMPIONSHIP_WINNER'" src="assets/default/winner.png">
        <img *ngIf="pz.title==='CHAMPIONSHIP_RUNNERUP'"  src="assets/default/second.png">
        <img *ngIf="pz.title==='CHAMPIONSHIP_3RD'"  src="assets/default/third.png">
        <img
          *ngIf="pz.title==='BEST_ASSIST' || pz.title==='BEST_PLAYER' || pz.title==='BEST_SCORER' || pz.title==='BEST_GOALIE'"
          class="prize_img"
          src="assets/default/trophy_color.png">
  </figure>  
            
          <p *ngIf="pz.title==='CHAMPIONSHIP_WINNER'" i18n>Vainqueur du championnat</p>
          <p *ngIf="pz.title==='CHAMPIONSHIP_RUNNERUP'" i18n>Finaliste du championnat</p>
          <p *ngIf="pz.title==='CHAMPIONSHIP_3RD'" i18n>3ème du championnat</p>
    
       
          <ng-container *ngIf="context === 'TOURNAMENT'">
            <div *ngIf="pz.type_object==='CLUB'">
              <a class="link" style="cursor:pointer;" [routerLink]="['/teams']" [queryParams]="{id: pz.id_object}">
                <img class="prize_img" src="{{ pz.logo }}"><span class="prize_text">{{pz.name}}</span>
              </a>
            </div>
            <div *ngIf="pz.type_object==='PLAYER'">
              <a class="link" style="cursor:pointer;" [routerLink]="['/players']" [queryParams]="{id: pz.id_object}">
                <img class="prize_img" src="{{ pz.logo }}"><span class="prize_text">{{pz.name}}</span>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="context === 'CLUB'">
            <div *ngIf="pz.winning_object==='TOURNAMENT'">
              <a class="link" style="cursor:pointer;" [routerLink]="['/competitions']" [queryParams]="{id: pz.winning_id}">
                <span class="prize_text">{{pz.name}}</span>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="context === 'PLAYER'">
            <div *ngIf="pz.winning_object==='TOURNAMENT'">
              <a class="link" style="cursor:pointer;" [routerLink]="['/competitions']" [queryParams]="{id: pz.winning_id}">
                <span class="prize_text">{{pz.name}}</span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
</ng-container>
