<div [ngSwitch]="from_type" class="content">
    <ng-container *ngSwitchCase="'SEASON'">
        <div class="tabs is-boxed is-right">
            <ul>
                <li *ngIf="visu.list_club" [class]="selected_menu === 'CLUB' ? 'is-active' :''"
                    (click)="selected_menu='CLUB'">
                    <a>
                        <!-- <span class="icon is-small"
            ><i class="fas fa-image" aria-hidden="true"></i
          ></span> -->
                        <span i18n>Clubs&nbsp;</span>{{season_name}}
                    </a>
                </li>
                <li *ngIf="visu.list_team" [class]="selected_menu === 'TEAM' ? 'is-active' :''"
                    (click)="selected_menu='TEAM'">
                    <a>
                        <!-- <span class="icon is-small"
            ><i class="fas fa-music" aria-hidden="true"></i
          ></span> -->
                        <span i18n>Equipes&nbsp;</span>{{season_name}}
                    </a>
                </li>
            </ul>

        </div>
        <div class="field">
            <label class="label" i18n>Changer de saison</label>
            <div class="control">
                <div class="select">
                    <select [(ngModel)]="season_id">
                        <ng-container *ngFor="let ss of visu.list_season">
                            <option [ngValue]="ss.id">{{ss.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button (click)="ChangerSeason()" class="button is-link" i18n>Changer</button>
            </div>
        </div>
        <ng-container *ngIf="selected_menu=='CLUB'">
            <ng-container *ngFor="let club of visu.list_club">
                <ng-container *ngIf="club.teams && club.teams.length>0">
                    <app-club-item (onChange)="GoTo($event)" [context]="'CLUB'" [club]="club"></app-club-item>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="selected_menu=='TEAM'">
            <ng-container *ngFor="let team of visu.list_team">
                <app-equipe-item (onChange)="GoTo($event)" [context]="'CLUB'" [equipe]="team"></app-equipe-item>
            </ng-container></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'EQUIPE'">
        <div class="tabs is-boxed is-right">
            <ul>
                <li *ngIf="visu.thisClub" [class]="selected_menu === 'CLUB' ? 'is-active' :''"
                    (click)="selected_menu='CLUB'; selected_sous_menu = 'JOUEURS'">
                    <a>
                        <!-- <span class="icon is-small"
                ><i class="fas fa-image" aria-hidden="true"></i
              ></span> -->
                        <span i18n>{{visu.thisClub.name}}</span>
                    </a>
                </li>
                <li *ngIf="visu.thisTeam" [class]="selected_menu === 'TEAM' ? 'is-active' :''"
                    (click)="selected_menu='TEAM'">
                    <a>
                        <!-- <span class="icon is-small"
                ><i class="fas fa-music" aria-hidden="true"></i
              ></span> -->
                        <span i18n>{{visu.thisTeam.name}}</span>
                    </a>
                </li>
            </ul>

        </div>
        <app-club-item [club]="this.visu.thisClub" [context]="'CLUB'"></app-club-item>

        <div class="box">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" i18n>Changer de saison</label>
                        <div class="control">
                            <div class="select">
                                <select [(ngModel)]="season_id_club">
                                    <ng-container *ngFor="let ss of visu.thisClub.list_season">
                                        <option [ngValue]="ss.id">{{ss.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button (click)="ChangerSeasonClub()" class="button is-link" i18n>Changer</button>
                        </div>
                    </div>
                </div>
                <div class="column">


                    <div class="tags are-medium">
                        <ng-container *ngFor="let tt of visu.thisClub.teams">
                            <a class="tag is-primary" (click)="GoToTeam(tt.id)">{{tt.name}} {{tt.category}}</a>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
        <ng-container *ngIf="selected_menu=='CLUB'">
            <div *ngIf="this.visu.thisClub" class="tabs is-toggle is-fullwidth">
                <ul>
                    <li *ngIf="this.visu.thisClub.players" [class]="selected_sous_menu === 'JOUEURS' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'JOUEURS'">
                        <a>
                            <span i18n>Joueurs</span>
                        </a>
                    </li>
                    <li *ngIf="this.visu.thisClub.prizelist"
                        [class]="selected_sous_menu === 'PALMARES' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'PALMARES'">
                        <a>
                            <span i18n>Palmarès</span>
                        </a>
                    </li>

                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="selected_menu=='TEAM'">
            <div *ngIf="this.visu.thisTeam" class="tabs is-toggle is-fullwidth">
                <ul>
                    <li *ngIf="this.visu.thisTeam.games_list"
                        [class]="selected_sous_menu === 'MATCHS' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'MATCHS'">
                        <a>
                            <span i18n>Matchs</span>
                        </a>
                    </li>
                    <li *ngIf="this.visu.thisTeam.rounds_rk"
                        [class]="selected_sous_menu === 'CLASSEMENT' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'CLASSEMENT'">
                        <a>
                            <span i18n>Classements</span>
                        </a>
                    </li>
                    <li *ngIf="this.visu.thisTeam.players" [class]="selected_sous_menu === 'JOUEURS' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'JOUEURS'">
                        <a>
                            <span i18n>Joueurs</span>
                        </a>
                    </li>
                    <li *ngIf="this.visu.thisTeam.ranking_points_list"
                        [class]="selected_sous_menu === 'BUTEUR' ? 'is-active' :''"
                        (click)="selected_sous_menu = 'BUTEUR'">
                        <a>
                            <span i18n>Pointeurs</span>
                        </a>
                    </li>

                </ul>
            </div>
            <ng-container *ngIf="selected_sous_menu == 'MATCHS'">
                <app-game-list *ngIf="visu.thisTeam.games_list" [liste_date]="visu.thisTeam.date_list"
                    [matchs]="this.visu.thisTeam.games_list"></app-game-list>
            </ng-container>
            <ng-container *ngIf="selected_sous_menu == 'JOUEURS'">
                <ng-container *ngIf="visu.thisTeam.players">
                    <ng-container *ngFor="let jr of visu.thisTeam.players">
                        <app-joueur-item [joueur]="jr" [context]="'CLUB'"></app-joueur-item>
                    </ng-container></ng-container>
            </ng-container>
            <ng-container *ngIf="selected_sous_menu == 'CLASSEMENT'">
                <ng-container *ngIf="visu.thisTeam.rounds_rk">
                    <ng-container *ngFor="let rd of visu.thisTeam.rounds_rk">
                        <h2>{{rd.name}}</h2>
                        <app-ranking [ranking]="rd.ranking_team"></app-ranking>
                    </ng-container>
                </ng-container></ng-container>
        </ng-container>
    </ng-container>

</div>