
<table class="table mobile">
    <thead>
        <th i18n>Equipe</th>
        <th i18n>Cat</th>
        <th class="noshow"  i18n>Pos</th>
        <th i18n>MJ</th>
        <th i18n>Buts</th>
        <th i18n>P.D</th>
        <th class="noshow" i18n>Fautes</th>
        <th i18n>MVP</th>
        <th *ngIf="visgo" i18n>% Saves</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let saison of list">
            <ng-container *ngFor="let joueur of seasons">
                <ng-container *ngIf="joueur.season_id == saison.id">
                <tr>
                    <td style="display: flex;
                    gap: 5px;"><div class="media-right" style="cursor: pointer;"
                        (click)="GoToClub(joueur.club_id)">
                        <figure class="image is-32x32 ">
                            <img src="{{joueur.club_logo}}" alt="logo" />
                        </figure>
                    </div><a (click)="GoToTeam(joueur.team_id)">{{joueur.team_name}}</a></td>
                    <td>
                        {{joueur.agecategory}}
                    </td>
                    <td  class="noshow" >
                        <ng-container *ngIf="joueur.position && joueur.position.length>0">
                            {{joueur.position}}</ng-container>
                    </td>
                    <td>
                        {{joueur.player.games_played}}
                    </td>
                    <td>
                        {{joueur.player.goal}}
                    </td>
                    <td>
                        {{joueur.player.assist}}
                    </td>
                    <td  class="noshow" >
                        {{joueur.player.fault}}
                    </td>
                    <td>
                        {{joueur.player.mvp}}
                    </td>
                    <td  *ngIf="visgo" >
                        {{ joueur.player.pc_saves * 100 | number:'1.0-0' }}%
                    </td>
                </tr>
                </ng-container>
            </ng-container>
        </ng-container>
    </tbody>
</table>