<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img alt="Logo"
      class="ml-2"
      src="assets/federation-assets/France/LogoFFFLhorizontal.png"
      style=" height: 40px;">
</a>

      <a role="button" is-active="true" class="navbar-burger"
        [class]="isactive ? 'navbar-burger is-active' :  'navbar-burger'" (click)="isact()" aria-label="menu"
        aria-expanded="false" data-target="navMaSeance">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMaSeance" [class]="isactive ? 'navbar-menu is-active' :  'navbar-menu'">
      <div class="navbar-start">
        <a [class]="(GlobalService.SelectedMenu$ | async) === 'COMPETITION' ? 'navbar-item is-selected' : 'navbar-item'"
          (click)="GlobalService.updateSelectedMenuStatus('COMPETITION')" [routerLink]="['/competitions']" i18n>
          Compétitions
        </a>
       
        <a [class]="(GlobalService.SelectedMenu$ | async) === 'CLUB' ? 'navbar-item is-selected' : 'navbar-item'"
          (click)="GlobalService.updateSelectedMenuStatus('CLUB')" [routerLink]="['/clubs']" i18n>
          Clubs
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a               [class]="'navbar-link'">
            Fédération
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Fichiers
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="">
              Site de la FFFL
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="field">
          <p class="control has-icons-left has-icons-right"> <input class="input" type="text" i18n-placeholder placeholder="Rechercher" [(ngModel)]="search_text"  (keydown)="keyDownFunction($event)">
            <span class="icon is-small is-left">
              <i class="fas fa-magnifying-glass"></i>
            </span>
          </p>
        </div>               
         
        <!-- <a [routerLink]="['/defaut']" (click)="GlobalService.updateSelectedMenuStatus('MATCH')"
          [class]="(GlobalService.SelectedMenu$ | async) === 'MATCH' ? 'button is-outlined is-primary' : 'button is-primary'">
          <strong>Matchs</strong>
        </a> -->

      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
<notif_jecha></notif_jecha>