
.ligne{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin: 2px;
    gap: 8px;
}
.sous-info{
    display: flex;
    flex-direction: row;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 2px;
    gap: 8px;
}
.team{
    text-transform: uppercase;
    font-weight: bold;
}
.score{
    width: 50px;
    font-weight: bold;
    cursor: pointer;
}

.logo{
    height: 36px;
    width:  36px;
}
.left-bloc{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.right-bloc{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: end;
}
@media screen and (max-width: 767px) {
    .card-content{
        padding: 0px;
    }
    .info{
        flex-direction: row;
        font-size: x-small;
    }
  }
