<div class="container">
    <div class="tabs is-boxed is-right">
        <ul>
            <li *ngIf="visu.live_games && visu.live_games.length>0"
                [class]="selected_sous_menu === 'LIVE' ? 'is-active' :''" (click)="selected_sous_menu='LIVE'">
                <a>
                    <!-- <span class="icon is-small"
            ><i class="fas fa-image" aria-hidden="true"></i
          ></span> -->
                    <span i18n>Live</span>
                </a>
            </li>
            <li [class]="selected_sous_menu === 'TERMINE' ? 'is-active' :''" (click)="selected_sous_menu='TERMINE'">
                <a>
                    <!-- <span class="icon is-small"
            ><i class="fas fa-music" aria-hidden="true"></i
          ></span> -->
                    <span i18n>Terminé</span>
                </a>
            </li>
            <li [class]="selected_sous_menu === 'PROCHAIN' ? 'is-active' :''" (click)="selected_sous_menu='PROCHAIN'">
                <a>
                    <!-- <span class="icon is-small"
            ><i class="fas fa-film" aria-hidden="true"></i
          ></span> -->
                    <span i18n>Prochainement</span>
                </a>
            </li>
            <li [class]="selected_sous_menu === 'TOUS' ? 'is-active' :''"
                (click)="selected_sous_menu='TOUS'; LoadAll()">
                <a>
                    <!-- <span class="icon is-small"
            ><i class="far fa-file-alt" aria-hidden="true"></i
          ></span> -->
                    <span i18n>Tous les matchs</span>
                </a>
            </li>
        </ul>
    </div>

    <app-game-list *ngIf="selected_sous_menu == 'TERMINE' && visu.games_played" [matchs]="visu.games_played"
        [liste_date]="visu.date_list_games_played"></app-game-list>
    <app-game-list *ngIf="selected_sous_menu == 'PROCHAIN' && visu.games_to_come" [matchs]="visu.games_to_come"
        [liste_date]="visu.date_list"></app-game-list>
    <app-game-list *ngIf="selected_sous_menu == 'LIVE' && visu.live_games" [matchs]="visu.live_games"
        [liste_date]="visu.date_list_live_games"></app-game-list>
    <ng-container *ngIf="loading">
        <progress class="progress is-large is-info" max="100">60%</progress>
        <p>Chargement en cours</p>
    </ng-container>
    <ng-container *ngIf="!loading">
        <div *ngIf="selected_sous_menu == 'TOUS'" class="box" style="font-size: x-small;">
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <h1 i18n>Filtrer : </h1>
                    </div>
                    <div class="column" style="    border-right: #b1b0b0;
                    border-right-style: dotted;">
                        <div class="field">
                            <label for="competition" class="label" i18n>Compétition</label>
                            <div class="select is-small">
                                <select id="seasons" [(ngModel)]="visu.SelTournament" i18n-placeholder
                                    placeholder="Choisir le tournoi">
                                    <!-- Options pour les professeurs -->
                                    <option [ngValue]="null" i18n>Toutes les compétitions</option>
                                    <ng-container *ngFor="let tt of visu.tournament_list">
                                        <option [value]="tt.id">{{tt.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <button *ngIf="!filtred" type="button" (click)="Filtrer()" class="button is-outlined is-rounded is-primary">
                            <span i18n>Filtrer par compétition</span>
                        </button>
                        <button *ngIf="filtred" type="button" (click)="LoadAll()" class="button is-outlined is-rounded is-danger">
                            <span i18n>Afficher tout</span>
                        </button>
                    </div>
                    <div class="column">
                        <label for="competition" class="label" i18n>Tour</label>
                        <div class="field has-addons">
                            <div class="control" style="display: flex; flex-direction: row;">
                                <div class="select is-small filter">
                                    <select id="seasons" [(ngModel)]="visu.SelRound" i18n-placeholder
                                        placeholder="Choisir le tour">
                                        <!-- Options pour les professeurs -->
                                        <ng-container *ngFor="let tt of visu.round_list">
                                            <option [value]="tt.id">{{tt.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="control">
                                    <button type="button" (click)="visu.SelRound = null"
                                        class="button is-outlined is-danger is-rounded is-small">
                                        <i style="fill: red;" class="fas fa-ban"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <label for="competition" class="label" i18n>Equipe</label>
                        <div class="field has-addons">
                            <div class="control" style="display: flex; flex-direction: row;">
                                <div class="select is-small">
                                    <select id="seasons" [(ngModel)]="visu.SelTeam" i18n-placeholder
                                        placeholder="Choisir l'équipe">
                                        <!-- Options pour les professeurs -->
                                        <ng-container *ngFor="let tt of visu.team_list">
                                            <option [value]="tt.id">{{tt.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="control">
                                    <button type="button" (click)="visu.SelTeam = null"
                                        class="button is-outlined is-danger is-rounded is-small">
                                        <i style="fill: red;" class="fas fa-ban"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <label for="competition" class="label" i18n>Gymnase</label>
                        <div class="field has-addons">
                            <div class="control" style="display: flex; flex-direction: row;">
                                <div class="select is-small">
                                    <select id="seasons" [(ngModel)]="visu.SelSportHall" i18n-placeholder
                                        placeholder="Choisir la saison">
                                        <!-- Options pour les professeurs -->
                                        <ng-container *ngFor="let tt of visu.sporthall_list">
                                            <option [value]="tt.id">{{tt.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="control">
                                    <button type="button" (click)="visu.SelSportHall = null"
                                        class="button is-outlined is-danger is-rounded is-small">
                                        <i style="fill: red;" class="fas fa-ban"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-game-list *ngIf="selected_sous_menu == 'TOUS'&& visu.all_games"
            [matchs]="visu.all_games | filterTeam : visu.SelTeam | filterRound : visu.SelRound | filterSporthall : visu.SelSportHall"
            [liste_date]="visu.date_list_all_games" [federation]="true"></app-game-list>
    </ng-container>
</div>