<ng-container *ngIf="context == 'RECHERCHE'">
    <div *ngIf="club" class="box recherche">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 noshow">
                    <img class="list_logo" src="{{ url +'api/public_club_logo_get.php?c='+ club.id }}">
                </figure>
                <figure class="image is-32x32 mobile" style="margin: 0.15em;">
                    <img class="list_logo" src="{{ url +'api/public_club_logo_get.php?c='+ club.id }}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span (click)="GoToClubLien(club.id)" class="title"><strong>{{club.name}}</strong></span>
                        <br />
                    </p>
                </div>
            </div>

        </article>
    </div>
</ng-container>
<ng-container *ngIf="context == 'CLUB'">
    <div *ngIf="club" class="box recherche">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 noshow">
                    <img class="list_logo" src="{{ url +'api/public_club_logo_get.php?c='+ club.id }}">
                </figure>
                <figure class="image is-32x32 mobile" style="margin: 0.15em;">
                    <img class="list_logo" src="{{ url +'api/public_club_logo_get.php?c='+ club.id }}">
                </figure>
                <a class="level-item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="17" height="17">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M21 3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2.001L19 20a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1l-.001-8.001L3 12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6a3 3 0 0 0 6 0h6z"
                            [style]="{'fill': club.colorhome1, 'stroke':'lightgray','color':'#fffff'}">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="17" height="17">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M21 3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2.001L19 20a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1l-.001-8.001L3 12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6a3 3 0 0 0 6 0h6z"
                            [style]="{'fill': club.coloraway1, 'stroke':'lightgray','color':'#fffff'}">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span (click)="GoToClub(club.id)" class="title"><strong>{{club.name}}</strong></span>
                        <br />
                    </p>
                    <span>{{club.shortname}}</span><br />
                    <span>{{club.streetaddress}} {{club.postcode}} {{club.city}}</span><br />
                    <a [href]="'mailto:'+club.email" *ngIf="club.email">{{club.email}} </a><br />
                    <a [href]="club.website" *ngIf="club.website">{{club.website}} </a><br />
                </div>
            </div>


        </article>
        <div *ngIf="club.players && club.players.length>0" class="card">
            <header class="card-header">
                <p class="card-header-title" style="cursor: pointer;" (click)="display_jr ? display_jr = false : display_jr = true"
                     i18n>Joueurs actuels du club</p>
                    <button (click)="display_jr ? display_jr = false : display_jr = true" class="card-header-icon" 
                    aria-label="more options">
                    <i *ngIf="!display_jr"  class="fas fa-plus"></i>
                    <i *ngIf="display_jr" class="fas fa-minus"></i></button>
            </header>
            <div *ngIf="display_jr" class="card-content">
                <ng-container *ngFor="let jr of club.players">
                    <app-joueur-item [joueur]="jr" [context]="'CLUB'"></app-joueur-item>
                </ng-container>
            </div>
        </div>
        <div *ngIf="club.prizelist && club.prizelist.length>0" class="card">
            <header class="card-header" >
                <p class="card-header-title" style="cursor: pointer;" (click)="display_palm ? display_palm = false : display_palm = true"
                     i18n>Palmarès</p>
                    <button class="card-header-icon" (click)="display_palm ? display_palm = false : display_palm = true"
                    aria-label="more options">
                    <i *ngIf="!display_palm" class="fas fa-plus"></i>
                    <i *ngIf="display_palm" class="fas fa-minus"></i></button>
            </header>
            <div *ngIf="display_palm" class="card-content">
                    <app-prizelist [context]="'CLUB'" [prize_list]="club.prizelist"></app-prizelist>
            </div>
        </div>
    </div>
</ng-container>